<div ng-controller="ForgotPasswordCtrl as fgt">
    <div class="overlay-forgot">
        <div></div>
    </div>
    <div class="modal-forgot position-forgot">
        <div class="container-login">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-inner-login">
                        <div class="tabs-login" ng-if="fgt.isSuccess == false">
                            <p class="mb-0" style="text-align: center; font-size: x-large;color: #20bf6b;"><i class="fas fa-key"></i></p>
                            <h4 style="text-align: center">Forgot Password?</h4>
                            <p class="mb-0" style="text-align: center;color: rgb(121 125 133);">No worries, we'll send you reset intructions.</p>
                            <div class="form-content-login current"> 
                                <form id="sign-in-login" ng-submit="fgt.forgotPassword()">
                                    <input type="email" id="username" name="login-id" placeholder="email"
                                        ng-model="fgt.model.email" class="field-login input-login" required /> 
                                    <div class="clear-login"></div> 
                                    <p class="mb-0" style="text-align: center;color: rgb(121 125 133);">Your new password must be different to previously used passwords.</p>
                            
                                    <button type="submit" name="sign-in-button" class="flat-button-login signin-login"
                                        ng-disabled="fgt.isLoading"><i class="fas fa-circle-notch fa-spin"
                                            ng-show="fgt.isLoading"></i><span
                                            ng-show="!fgt.isLoading">RESET PASSWORD</span></button>
                                </form>
                            </div>
                        </div>
                        <div class="tabs-login" ng-if="fgt.isSuccess == true">
                            <p class="mb-0" style="text-align: center; font-size: x-large;color: #20bf6b;"><i class="fas fa-mail-bulk"></i></p>
                            <h4 style="text-align: center">Check Your Email</h4>
                            <p class="mb-0" style="text-align: center;color: rgb(121 125 133);">We send a password reset link to {{fgt.model.email}}</p>
                            <div class="form-content-login current"> 
                                <form id="sign-in-login" ng-submit="fgt.forgotPassword()"> 
                                    <p class="mb-0 mt-2" style="text-align: center;color: rgb(52 128 205);">Don't receive the email? Click "Resend".</p>
                            
                                    <button type="submit" name="sign-in-button" class="flat-button-login signin-login"
                                        ng-disabled="fgt.isLoading"><i class="fas fa-circle-notch fa-spin"
                                            ng-show="fgt.isLoading"></i><span
                                            ng-show="!fgt.isLoading">RESEND</span></button>
                                </form>
                            </div>
                        </div>
                        <a  ui-sref="login" href="">
                            <p class="pt-2" style="text-align: center;"><i class="fa fa-arrow-left"></i> Back to log in</p>
                        </a> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>