<div ng-controller="ResetPasswordCtrl as rst">
    <div class="overlay-forgot">
        <div></div>
    </div>
    <div class="modal-forgot position-forgot">
        <div class="container-login">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-inner-login">
                        <div class="tabs-login" ng-if="rst.isReset == false">
                            <p class="mb-0" style="text-align: center; font-size: x-large;color: #20bf6b;"><i class="fas fa-key"></i></p>
                            <h4 style="text-align: center">Set New Password</h4>
                            <p class="mb-0" style="text-align: center;color: rgb(121 125 133);">Your new password must be different to previously used passwords.</p>
                            <div class="form-content-login current"> 
                                <form id="sign-in-login" ng-submit="rst.reset()">
                                    <input type="password" id="newPassword" name="login-id" placeholder="New Password"
                                        ng-model="rst.model.newPassword" class="field-login input-login" required 
                                        ng-change="rst.CheckPassword()"/>
                                    <div class="invalid-feedback" style="white-space: pre;" ng-show="rst.invalidPass != ''">{{rst.invalidPass}}</div>
                                    <input type="password" id="confirmPassword" name="login-id" placeholder="Confirm Password"
                                        ng-model="rst.model.confirmPassword" class="field-login input-login" required /> 
                                    <div class="clear-login"></div> 
                                    <button type="submit" name="sign-in-button" class="flat-button-login signin-login"
                                        ng-disabled="rst.isLoading"><i class="fas fa-circle-notch fa-spin"
                                            ng-show="rst.isLoading"></i><span
                                            ng-show="!rst.isLoading">RESET PASSWORD</span></button>
                                </form>
                            </div>
                        </div>
                        <div class="tabs-login" ng-if="rst.isReset == true">
                            <p class="mb-0" style="text-align: center; font-size: xxx-large;color: #20bf6b;"><i class="fas fa-check-circle"></i></p>
                            <h4 style="text-align: center">Password Reset</h4>
                            <p class="mb-0" style="text-align: center;color: rgb(121 125 133);">Your Password has been successfuly reset.</p>
                        </div>
                        <a  ui-sref="login" href="">
                            <p class="pt-2" style="text-align: center;"><i class="fa fa-arrow-left"></i> Back to log in</p>
                        </a> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>