/********** Template CSS **********/
:root {
    --primary: #C21010;
     --secondary: #FFFDE3; /*--E64848 */
    --light: #F7F8FC;
    --dark: #111111;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, body { 
    /* font-family: "Lora";  */
    font-family: "Roboto", sans-serif;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 30px;
    bottom: 30px;
    z-index: 95;
}

.my-6 {
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.py-6 {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.bg-icon {
    background: url(../img/bg-icon.png) center center repeat;
    background-size: contain;
}

.shadow-order {
    box-shadow: 0 0rem 3rem rgb(214 41 21 / 20%) !important
}

.ta-l {
    text-align: left;
}
.ta-c {
    text-align: center;
}

.ta-r {
    text-align: right;
} 

/* LOGIN */
.overlay-login {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 98;
}
.position-login {
    height: 360px;
    position: fixed;
    top: calc(50% - 180px);
    bottom: 0;
    left: 50%;
    padding-bottom: 25px;
}
.container-login {
    /* padding-right: 15px;
    padding-left: 15px; */
    margin-right: auto;
    margin-left: auto;
    background-color: #0707076e;
    width: 100%;
}
.modal-login {
    width: 700px;
    margin-left: -350px;
    background-color: #fff;
    border-radius: 5px;
    z-index: 999;
}
.left-login {
    border-radius: 5px 0 0 5px;
    background-color: #C21010;
    z-index: 12;
    height: 360px;
    padding-left: 30px;
    padding-right: 30px;
}
.right-login {
    background-image: url(../img/prod-original.jpg);
    /* background-color: #000; */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.form-inner-login {
    padding: 10px;
}
.form-content-login.current {
    display: inherit;
}
.tabs-login {
    margin-top: 25px;
}
ul.tabs-login {
    margin: 0;
    padding: 0;
    list-style: none;
    border-bottom: solid 1px #d8d8d8;
    display: inline-flex;
}
ul.tabs-login li.current {
    font-weight: 500;
    border-bottom: 1px solid #fff;
}
ul.tabs-login li {
    width: 138px;
    padding-bottom: 15px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
}
ul.tabs-login li a {
    color: #fff;
}
.build-version {
    margin-top: 15px;
    display: block;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}
.forgot-login {
    padding-top: 1rem;
    float: right;
}
.secondary-text a, .secondary-text-login {
    color: #fff!important;
    font-weight: 400;
    text-decoration: underline!important;
}
.signin-login {
    background-color: rgb(223, 107, 107);
    padding: 13px;
    width: 100%;
    color: #fff;
    margin-top: 30px;
}
.flat-button-login {
    color: #eaeaea;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 13px;
    border: none;
    border-radius: 20px;
}
.field-login {
    width: 100%;
    margin-top: 15px;
    padding: 8px 20px;
    font-size: 11pt;
    font-weight: 400;
    line-height: 22px;
    border: 1px solid #d8d8d8;
    border-radius: 20px;
}
.input-login:first-of-type {
    margin-top: 40px;
}
button, hr, input {
    overflow: visible;
}

/* LOGIN END */


/* DATATABLES */
.dataTables_wrapper {
    padding: 0; 
    font-size: 10pt;
} 
.dataTables_wrapper .btn{
    line-height: 0.5;
}
.dataTables_wrapper thead{    
    background-color: rgb(194, 16, 16);
    color: #fff;
}

.dataTables_wrapper .dataTables_info {
    padding: 0;
    margin: 0.2rem 0px 0.8rem 1rem; 
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    border: 0px;
    background: #C21010;
    color: rgb(255, 255, 255) !important;
}
table.dataTable, table.dataTable.no-footer {
    margin: 0;
}
table.dataTable tbody td, table.dataTable tbody th {
    padding: 0;
}
table.dataTable thead th, table.dataTable thead td {
    padding: 4px 18px;
}

.toolbar{
    border-bottom: 1px solid #d1d5d8;
    padding: 0 15px;
    float: left;
    width: 100%;
    font-size: 11pt !important;
}

.toolbar .filter { 
    color: #1d3b4a;
    padding: 2px 10px 2px 14px;
    line-height: 20px; 
    border: 0;
    border-width: 1px 1px 3px;  
}

.toolbar .filter input {
    border: 0;
    padding: 7px 0px;
    /* width: 120px; */
    background-color: transparent;
}

select option:hover {
    background-color: #C21010 !important;
}


.toolbar .filter select{
    display: flex;
    border: 1px solid #cdbcbc !important;
    width: auto;
    padding: 5px 20px !important;
    border-radius: 20px; 
}

.toolbar .filter .ui-select-bootstrap>.ui-select-match>.btn {
    border: 0;
    background-color: transparent;
    padding: 7px 0;
}

.toolbar .filter .input-group-text {
    background-color: inherit;
    border: 0;
} 

.toolbar .filter .search {
    transition: 1.0s;
}
.toolbar .filter .search input {
    width: 300px;
    margin-left: 7px; 
}

.toolbar .filter .advance-search input, .toolbar .filter .advance-search select {
    border: 1px solid #aaa;
}

.toolbar .filter .search, .toolbar .filter .date-range {
    background: #f3f6f8;
    border-radius: 20px;
    float: right;
    /* display: inline-block; */
} 

.toolbar .filter .search, .toolbar .filter .fas {
    padding-left: 5px;     
    padding-top: 2px; 
}

.toolbar .filter .select-filter {
    background: #f3f6f8;
    /* display: inline-block; */
    width: 200px;
}

.toolbar .showAdvanceSearch { 
    float: right;
    /* margin-top: 10px; */
}


.toolbar .filter .select-filter select {
    width: 100%;
    border: 0;
}

.toolbar button {
    border: 0;
    margin: 5px;
    font-size: 11pt !important;
}

.toolbar button.btn-default {
    background-color: #f3f6f8;
    transition: all 0.4s;
}

.toolbar button.btn-default:hover {
    background-color: #f3f3f3;
    transition: all 0.4s;
}

.toolbar .title {
    font-size: 11pt;
    font-weight: 500;
} 

.overlayed-search {
    /* overflow: hidden; */
} 

.overlayed-search .form-control {
    border: 1px solid #cdbcbc !important;
    padding: 5px 20px !important;
}
input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
    opacity: 0 !important;
}
 
#AdvanceSearch {
    z-index: 1;
    outline: none;
    height: 100%;
    /* padding-top: 6px; */
}

.overlayed-search #AdvanceSearch {
    transition: 1.1s;
}

.overlayed-search.show-overlay #AdvanceSearch {
    margin-right: 200px;
    transition: 1.1s;
}

.overlayed-search #overlay {
    background-color: #fff;
    position: absolute;
    right: 0;
    top: 0;
    width: 200px;
    transition: all 0.3s;
    transform: translateX(200px);
    overflow: auto;
    height: 424px;
    /* box-shadow: -4px 0px 6px rgba(1, 1, 1, 0.1); */
    z-index: 1;
}

.overlayed-search.show-overlay #overlay {
    display: block;
    transition: all 0.3s;
    transform: translateX(0px);
}
/* DATATBLES END */

/* WRAPER */

#wrapper.main__wrapper {    
    /* margin-top: 100px; */
    /* height: calc(100vh - 98px); */
    overflow: auto;
}
/* WRAPER END */

/* SIDEBAR */ 

.sidebar-fixed .sidebar, .sidebar .sidebar-nav {
    width: 100%;
}

.sidebar-fixed .sidebar {
    position: relative;
}

.sidebar-fixed .sidebar, .sidebar .sidebar-nav {
    width: 100%;
    background-color: #f3f3f3;
    color: #000;
}

.sidebar-fixed .sidebar, .sidebar .sidebar-nav {
    background-color: #1e3876;
    color: #fff;
}

.header-fixed .app-header {
    z-index: unset;
    position: absolute;
    top: 0;
    z-index: 5;
}

.navbar, .navbar .navbar-brand, .header-fixed .app-header {
    border-bottom: 0;
    color: #C21010;
    padding: 0px;
}

.navbar .navbar-brand {
    width: 180px;
    background-size: 135px 26px;
    padding-left: 15px;
    float: left;
    background-position: center center;
}

.header-fixed .app-body {
    position: fixed;
    height: calc(100vh - 55px) !important;
}

/* SIDEBAR END */


/* notification */   
.navbar .badge{
    min-width: 5px;
    padding: 5px 8px; 
}
.badge {    
    position: absolute;
    top: 15%;
    right: 3%;
    padding: 4px 7px;
    border-radius: 100%;
    background-color: #C21010;
    color: white;
  }

  
.badge-cart {        
    position: absolute;
    bottom: 12%;
    font-size: 0.85rem;
    left: 4.5rem;
    padding: 4px 7px;
    border-radius: 75%;
    background-color: #C21010;
    color: white;
  }


  .text-body{
    cursor: pointer; 
  }
/* end notification */

/* MODAL  */
.for-icon {
    max-height: 300px;
    overflow: auto;
}
.modal-icon .modal-dialog {
    max-width: 60%;
}

.for-icon label>input {
    visibility: hidden;
    position: absolute;
}

.for-icon label>input+i {
    cursor: pointer;
    border: 2px solid transparent;
    font-size: 16pt;
    padding: 10px;
    width: 50px;
    height: 50px;
    text-align: center;
}

.for-icon label>input:checked+i {
    background-color: #C21010;
    color: #fff;
}

.modal-icons .modal-body {
    height: 450px;
    overflow: auto;
}

.badge {
    padding: 5px 15px;
    font-size: 11px;
    font-weight: 400;
    border-radius: 10px;
    display: inline-block;
    text-align: center;
    vertical-align: baseline;
    line-height: 1;
    min-width: 80px;
}

.badge-secondary {
    color: #fff;
}

/* MODAL END */

/* SWITCH  */

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 21px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */

/* Payment */  
.divTextArea{
    height:100px;
    box-sizing: border-box; 
}
#divForTACopy {
    border: solid 1px lightgrey;
    height: 4rem;
}
#divForTA {
    border: solid 1px lightgrey;
    height: 4rem;
}

.pay {
    width: 80px;
    height: 40px;
    border-radius: 5px;
    /* border: 1px solid #673AB7; */
    margin: 10px 20px 10px 0px;
    cursor: pointer;
    box-shadow: 1px 5px 10px 1px rgba(0,0,0,0.2);
}   
.mb-auto, .my-auto {
    padding-left: 0 !important;
    margin-bottom: auto!important;
    margin-top: auto!important;
}
.gray {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
    color: #E0E0E0;
}
/* End Payment */

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
}

/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


/* SWITCH END */

/* MAP */

.map-container {
    overflow: auto;
    width: 100%;
}
/* MAP END */

/* BREADCRUM */

.breadcrumb-container {
    /* border-bottom: 1px solid #ccc; */
    padding: 10px 5px;
    background-color: #ffffff;
    /* color: #fff; */
    margin-top: 5px;
    /* box-shadow: 1px 2px 9px 0px #dcd7d7; */
} 
.breadcrumb-item {
    display: inline-block;
}

.breadcrumb-item.active, .breadcrumb-item+.breadcrumb-item::before {
    color: #C21010;
}

.breadcrumb {
    border-bottom: 1px solid #ccc;
    margin-bottom: 5px;
    border-radius: 0;
}


.breadcrumb li {
    font-size: 11pt;
}

/* BREADCRUM END */




/* CHECKBOK */

/*---------checkbox-----------*/

fieldset {
    display: block;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 15px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border: 1px solid #c2cfd6;
    width: 100%;
}

.border-t fieldset {
    border: 0 !important;
}

legend {
    width: auto;
    padding: 10px;
    font-size: 10pt;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.cbx {
    margin: auto;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    line-height: 16pt;
}

.form-cbx {
    margin-top: 31px;
}

.cbx span {
    display: inline-block;
    vertical-align: middle;
    transform: translate3d(0, 0, 0);
}

.cbx span:first-child {
    position: relative;
    width: 18px;
    height: 18px;
    border-radius: 3px;
    transform: scale(1);
    vertical-align: middle;
    border: 1px solid #9098A9;
    transition: all 0.2s ease;
}

.cbx span:first-child svg {
    position: absolute;
    top: 3px;
    left: 2px;
    fill: none;
    stroke: #FFFFFF;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 16px;
    stroke-dashoffset: 16px;
    transition: all 0.3s ease;
    transition-delay: 0.1s;
    transform: translate3d(0, 0, 0);
}

.cbx span:first-child:before {
    content: "";
    width: 100%;
    height: 100%;
    background: #007fae;
    display: block;
    transform: scale(0);
    opacity: 1;
    border-radius: 50%;
}

.cbx span:last-child {
    padding-left: 8px;
}

.cbx:hover span:first-child {
    border-color: #C21010;
}

.inp-cbx:checked+.cbx span:first-child {
    background: #C21010;
    border-color: #C21010;
    animation: wave 0.4s ease;
}

.inp-cbx:checked+.cbx span:first-child svg {
    stroke-dashoffset: 0;
}

.inp-cbx:checked+.cbx span:first-child:before {
    transform: scale(3.5);
    opacity: 0;
    transition: all 0.6s ease;
}

/* CHECKBOK END */

/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 9999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    font-weight: 500;
    transition: .5s;
    padding: 0.25rem 1rem;
}

.btn.btn-primary,
.btn.btn-secondary,
.btn.btn-outline-primary:hover,
.btn.btn-outline-secondary:hover { 
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}


/*** Navbar ***/
.fixed-top {
    transition: .5s;
}
.navbar .dropdown-toggle::after {
    display: none;
}
.dropdown-menu{
    border:0px;
}
.dropdown-menu.show {
    top: 2.8em;
    /* left: -5.4rem; */
}
.dropdown-menu a.dropdown-item {
    border-bottom: 0 !important;
}
.navbar .dropdown-menu:before {
    display: block;
    top: 0px;
    font-size: 5pt;
    color: rgb(255, 255, 255);
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    bottom: -2em;
    left: 7em;
    box-sizing: border-box;
    transform-origin: 0px 0px;
    transform: rotate(135deg);
    box-shadow: rgba(0, 0, 0, 0.03) -3px 3px 2px 0px;
    border-width: 1em;
    border-style: solid;
    border-image: initial;
    border-color: transparent transparent rgb(255, 255, 255) rgb(255, 255, 255);
}

.dropdown-menu-user:before{
    display: block;
    top: 0px;
    font-size: 5pt;
    color: rgb(255, 255, 255);
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    bottom: -2em;
    left: 16.5em !important;
    box-sizing: border-box;
    transform-origin: 0px 0px;
    transform: rotate(135deg);
    box-shadow: rgba(0, 0, 0, 0.03) -3px 3px 2px 0px;
    border-width: 1em;
    border-style: solid;
    border-image: initial;
    border-color: transparent transparent rgb(255, 255, 255) rgb(255, 255, 255);
}
.dropdown-header strong {
    font-weight: normal !important;
}

.navbar .dropdown-item:focus, 
.navbar .dropdown-item:hover,
.navbar .dropdown-item:hover i {
    text-decoration: none;
    background-color: #efefef;
    color: #313131;
}
.dropdown-item i {
    color: #666a6c;
    position: absolute;
    left: 20px;
    margin-top: 3px;
}
.dropdown-menu a.dropdown-item {
    border-bottom: 0 !important;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: #eee;
}


.navbar .dropdown-item {
    min-width: 200px;
    font-size: 10pt;
    color: #4e4e4e;
    padding: 5px 5px 5px 35px;
    cursor: pointer;
    background-color: #f9f9f9;
}


ul.block-list {
    padding-left: 0;
    list-style-type: none;
}
.top-bar {
    height: 45px;
    border-bottom: 1px solid rgba(0, 0, 0, .07);
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

.navbar .navbar-nav .nav-link {
    padding: 15px 15px;
    color: #555555;
    font-weight: 500;
    outline: none;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: var(--dark);
}

@media (max-width: 991.98px) {
    .navbar .navbar-nav {
        margin-top: 10px;
        border-top: 1px solid rgba(0, 0, 0, .07);
        background: #FFFFFF;
    }

    .navbar .navbar-nav .nav-link {
        padding: 10px 0;
    }
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        visibility: hidden;
        top: 100%;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
        transition: .5s;
        opacity: 0;
    }

    .navbar .nav-item:hover .dropdown-menu {
        transform: rotateX(0deg);
        visibility: visible;
        transition: .5s;
        opacity: 1;
        font-size: 10pt;
    }
}


/*** Header ***/
.carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: start;
    z-index: 1;
}

.carousel-control-prev,
.carousel-control-next {
    width: 5%;
    bottom: 3.5rem !important;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 3rem;
    height: 3rem;
    background-color: var(--primary);
    border: 10px solid var(--primary);
    border-radius: 3rem;
}

@media (max-width: 768px) {
    #header-carousel .carousel-item {
        position: relative;
        min-height: 450px;
    }
    
    #header-carousel .carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.page-header {    
    padding-top: 6.5rem;
    padding-bottom: 0.5rem;
    background: url(../img/carousel-1.jpg) top right no-repeat;
    background-size: cover;
}

.breadcrumb-item+.breadcrumb-item::before {
    color: #999999;
}


/*** Section Header ***/
.section-header {
    position: relative;
    padding-top: 25px;
}

.section-header::before {
    position: absolute;
    content: "";
    width: 60px;
    height: 2px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: var(--primary);
}

.section-header::after {
    position: absolute;
    content: "";
    width: 90px;
    height: 2px;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background: var(--secondary);
}

.section-header.text-start::before,
.section-header.text-start::after {
    left: 0;
    transform: translateX(0);
}



/*** About ***/
.about-img img {
    position: relative;
    z-index: 2;
}
.img-fluid{
    display: inline-block !important;
}

.about-img::before {
    position: absolute;
    content: "";
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background-image: -webkit-repeating-radial-gradient(#FFFFFF, #EEEEEE 5px, transparent 5px, transparent 10px);
    background-image: -moz-repeating-radial-gradient(#FFFFFF, #EEEEEE 5px, transparent 5px, transparent 10px);
    background-image: -ms-repeating-radial-gradient(#FFFFFF, #EEEEEE 5px, transparent 5px, transparent 10px);
    background-image: -o-repeating-radial-gradient(#FFFFFF, #EEEEEE 5px, transparent 5px, transparent 10px);
    background-image: repeating-radial-gradient(#FFFFFF, #EEEEEE 5px, transparent 5px, transparent 10px);
    background-size: 20px 20px;
    transform: skew(20deg);
    z-index: 1;
}


/*** Product ***/
.nav-pills .nav-item .btn {
    color: var(--dark);
}

.nav-pills .nav-item .btn:hover,
.nav-pills .nav-item .btn.active {
    color: #FFFFFF;
}

video {
    max-width: 100%;
    height: 260px;
}

.product-item {
    box-shadow: 0 0 45px rgba(0, 0, 0, .07);
    transform-style: preserve-3d;
    -webkit-transition: all 100ms ease-out;
    -moz-transition: all 100ms ease-out;
    -o-transition: all 100ms ease-out;
    transition: all 100ms ease-out
}

.product-item img {
    transition: .5s;
}

.product-item:hover img {
    transform: scale(1.1);
}

.product-item small a:hover {
    color: var(--primary) !important;
}


/*** Testimonial ***/
.testimonial-carousel .owl-item .testimonial-item img {
    width: 60px;
    height: 60px;
}

.testimonial-carousel .owl-item .testimonial-item,
.testimonial-carousel .owl-item .testimonial-item * {
    transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-item {
    background: var(--primary) !important;
}

.testimonial-carousel .owl-item.center .testimonial-item * {
    color: #FFFFFF !important;
}

.testimonial-carousel .owl-item.center .testimonial-item i {
    color: var(--secondary) !important;
}

.testimonial-carousel .owl-nav {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next {
    margin: 0 12px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--dark);
    border: 2px solid var(--primary);
    border-radius: 50px;
    font-size: 18px;
    transition: .5s;
}

.testimonial-carousel .owl-nav .owl-prev:hover,
.testimonial-carousel .owl-nav .owl-next:hover {
    color: #FFFFFF;
    background: var(--primary);
}

/* INPUT */
.mt-30 {
    margin-top: 30px;
}
small.required {
    color: red;
}
.invalid-feedback {
    transition: all linear 0.2s;
    opacity: 1;
    display: block;
    min-height: 20px;
    color: #da0402;
}
.invalid-feedback.ng-hide {
    opacity: 0;
}
.ng-hide {
    opacity: 0;
    transition: none 0;
} 
.form-group input {
    height: 30px;
}

/* INPUT END */

/* Checkbox and RadioButton */
input.form-control {
    /* padding: 5px 20px; */
    border: 1px solid #cdbcbc;
    border-radius: 20px;
    color: #151b1e;
    font-size: .875rem;
}
input.form-control, .input-group-text {
    height: 31px;

} 
.control-group {
    display: inline-block;
    vertical-align: top;
    background: #fff;
    text-align: left;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 200px;
    height: 210px;
    margin: 10px;
}

.control {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 15px;
    cursor: pointer;
}

td .control {
    display: inline-block;
    margin: 0;
    position: relative;
    padding-left: 18px;
    margin-bottom: 15px;
    cursor: pointer;
}

.control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.control__indicator {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background: #e6e6e6;
}

.control--radio .control__indicator {
    border-radius: 50%;
}

.control:hover input~.control__indicator, .control input:focus~.control__indicator {
    background: #ccc;
}

.control input:checked~.control__indicator {
    background: #2aa1c0;
}

.control:hover input:not([disabled]):checked~.control__indicator, .control input:checked:focus~.control__indicator {
    background: #0e647d;
}

.control input:disabled~.control__indicator {
    background: #e6e6e6;
    opacity: 0.6;
    pointer-events: none;
}

.control__indicator:after {
    content: '';
    position: absolute;
    display: none;
}

.control input:checked~.control__indicator:after {
    display: block;
}

.control--checkbox .control__indicator:after {
    left: 8px;
    top: 5px;
    width: 5px;
    height: 8px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.control--checkbox input:disabled~.control__indicator:after {
    border-color: #7b7b7b;
}

.control--radio .control__indicator:after {
    left: 7px;
    top: 7px;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background: #fff;
}

.control--radio input:disabled~.control__indicator:after {
    background: #7b7b7b;
}

.input-group-append .control {
    margin: 0;
    margin-top: 5px;
    margin-left: 10px;
}

.input-group-prepend .control {
    margin: 0;
    margin-top: 5px;
    margin-left: 10px;
}

/* End of Checkbox and Radio Button */

/* Select2 */

.select2-container {
    max-width: 100% !important;
    min-width: 100% !important;
    font-size: .875rem;
}

.select2-container .select2-choice .select2-arrow, .select2-container .select2-choice {
    background-image: none;
    background-color: #fff;
}
.select2-chosen {
    margin-left: 0.2rem;
}

.select2-container .select2-choice {
    height: 31px;
    border-radius: 20px;
    /* padding: 0; */
}

.select2-search {
    padding-left: 1px;
    padding-right: 1px;
}

.ui-select-choices-row:not():hover {
    background-color: #f0efef;
    color: #000;
}

.select2-container:focus {
    box-shadow: 0 0 0 0.2rem rgba(32, 168, 216, .25);
}

.select2-results .select2-highlighted {
    background: #20bf6b;
}

.select2-results .select2-highlighted:hover {
    color: #fff;
}

.select2-search input {
    width: 100% !important;
}
.select2-container-multi .select2-choices .select2-search-choice {
    color: #fff;
    background-color: #fff;
    border-color: #20bf6b;
    padding: 1px 25px 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    background-image: none;
    background-color: #20bf6b;
    box-shadow: none;
}

a.ui-select-match-close.select2-search-choice-close:after {
    font-size: 6pt;
    position: absolute;
    top: 1px;
    right: -9px;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    font-family: 'Font Awesome 5 Free';
    content: "\f00d";
    transition: 0.25s;
    color: #fff;
    font-weight: 600;
}

.select2-container-multi .select2-search-choice-close {
    right: 3px;
}

.select2-container-multi .select2-choices {
    background-image: none;
}

.select2-search-choice-close {
    /* background: url(../images/select2.png) right top no-repeat; */
    background-image: none;
}
.select2-drop {
    position: relative;
    opacity: 1 !important;
}

.input-group>.select2-container {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
}

.input-group>.select2-container {
    min-width: auto !important;
}

/* End of Select2 */

/*** Footer ***/
.rounded {
    border-radius: 0.25rem !important;
}

/*** Modal ***/
/* order */

.img-blur{
    filter: blur(4px);
    -webkit-filter: blur(4px);
}

.start-20{
    left: 17% !important;
}

.bg-gray-500 {
    filter: opacity(0.75);
  }

.bg-gray-100 input[type="number"] {
    width: 3rem;
    text-align: right;
  }

button:disabled,
button[disabled] .text-primary {
    color: #555555 !important;
    cursor: auto;
  }


/*** Footer ***/
.footer {
    color: #999999;
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #999999;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #999999;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    color: var(--light);
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--light);
}

.footer .copyright a:hover {
    color: var(--primary);
}


/* MEDIA */
@media (min-width: 992px) {
    .d-lg-fade {    
        display: none;
    }
}
/* MEDIA END */